<form [formGroup]='this.form'>
    <div class="align-self-center m-3">
        <div class="card">
            <div class="card-header d-inline-flex">
                <a href="/" class="btn btn-sm btn-outline-secondary" title="Back to Dashboard"><i
                        class="bi bi-backspace"></i></a>
                <h5 class="card-title ms-2">Add Event</h5>
            </div>
            <div class="card-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="eventName" aria-describedby="articleTitle"
                        placeholder="Event Name" formControlName="eventName" ng-required='true'>
                    <label class="form-label" for="eventName">Event Name</label>
                </div>

                <div class="form-group">
                    <h5 class="form-label">Starting Event Period</h5>
                    <div class="form mb-3">
                        <label class="form-label" for="eventYear">Event Year</label>
                        <div class='input-group'>
                            <input type="number" min=0 class="form-control" id="eventYear" aria-describedby="eventYear"
                                formControlName="eventStartYear" ng-required='true'>
                            <select class="form-select w-25" aria-label="Select Era" id="eventYearEra"
                                formControlName="eventStartYearEra" ng-required='true'>
                                <option selected disabled>Select Era</option>
                                <option *ngFor="let era of Era" [ngValue]="era.name" title='{{era.description}}'>
                                    {{era.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" aria-label="Select Month" id="eventMonth"
                            formControlName="eventStartMonth" ng-required='true'>
                            <option selected disabled>Select Month</option>
                            <option *ngFor="let month of Month" [ngValue]="month">{{month}}</option>
                        </select>
                        <label class="form-label" for="eventMonth">Event Month</label>
                    </div>
                </div>

                <div class="form-group">
                    <h5 class="form-label">Ending Event Period</h5>
                    <div class="form mb-3">
                        <label class="form-label" for="eventYear">Event Year</label>
                        <div class='input-group'>
                            <input type="number" min=0 class="form-control" id="eventYear" aria-describedby="eventYear"
                                formControlName="eventEndYear">
                            <select class="form-select w-25" aria-label="Select Era" id="eventYearEra"
                                formControlName="eventEndYearEra">
                                <option selected disabled>Select Era</option>
                                <option *ngFor="let era of Era" [ngValue]="era.name" title='{{era.description}}'>
                                    {{era.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" aria-label="Select Month" id="eventMonth"
                            formControlName="eventEndMonth">
                            <option selected disabled>Select Month</option>
                            <option *ngFor="let month of Month" [ngValue]="month">{{month}}</option>
                        </select>
                        <label class="form-label" for="eventMonth">Event Month</label>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="eventDesc">Event Description</label>
                    <ckeditor id="eventDesc" aria-describedby="Event Description" formControlName="eventDesc">
                    </ckeditor>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="eventTagCloud" aria-describedby="timeTo"
                        placeholder="eventTagCloud" formControlName="eventTagCloud">
                    <label class="form-label" for="eventTagCloud">Event Tag Cloud</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="url" class="form-control" id="eventRelLink" aria-describedby="Event Relevabnt Link"
                        placeholder="Timeline Relevant Link" formControlName="eventRelLink">
                    <label class="form-label" for="eventRelLink">Event Relevant Link</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="url" class="form-control" id="eventImgLink" aria-describedby="Event Image Link"
                        placeholder="Event Image Link" formControlName="eventImgLink">
                    <label class="form-label" for="timeImgLink">Event Image Link</label>
                </div>
            </div>
            <div class="card-footer ms-auto">
                <button type="reset" routerLink="/" class="btn btn-light">Reset</button>
                <button (click)="add()" class="btn btn-primary" ng-disabled="someForm.$invalid">Add Event</button>
            </div>
        </div>
    </div>
</form>