<!-- TimelineJs-->
<link rel="stylesheet" href="/assets/css/timeline.css" />
<h3>Main Timeline: Tag</h3>

<!-- Timeline JS-->
<div class="timeline-container timeline-theme-1">
    <div class="timeline js-timeline">
        <div data-time="1521" class="bg-info">
            <a href="https://www.history.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTU3ODc5MDg1MzYxODAwNTIx/portrait-of-ferdinand-magellan.jpg" title='Open Image Link'>
                <img class="img-thumbnail float-end tl-highlight-img rounded" src='https://www.history.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTU3ODc5MDg1MzYxODAwNTIx/portrait-of-ferdinand-magellan.jpg'>
            </a>

            <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#relLinks">Relevant Links</button>
            <h1>The rediscovery of the Philippines by Ferdinand Magellan</h1>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>

        <div data-time="2016" class='bg-primary'>
            your content or markup
        </div>
        <div data-time="2015" class='bg-success'>
            your content or markup
        </div>
        <div data-time="2014" class='bg-warning'>
            your content or markup
        </div>
        <div data-time="2013" class='bg-danger'>
            your content or markup
        </div>
    </div>
</div>

<!-- Add Article Modal -->
<div class="modal fade" id="relLinks" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Relevant Links: The rediscovery of the Philippines by Ferdinand Magellan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <a class="list-group-item" href="#link1">Link 1</a>
                    <a class="list-group-item" href="#link1">Link 2</a>
                    <a class="list-group-item" href="#link1">Link 3</a>
                    <a class="list-group-item" href="#link1">Link 4</a>
                    <a class="list-group-item" href="#link1">Link 5</a>
                </ul>


            </div>
            <div class="modal-footer">
                <small>links</small>
            </div>
        </div>
    </div>
</div>

<!--TimelineJS-->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/assets/css/timeline.css"></script>

<script>
    $('.js-timeline').Timeline();
</script>